@import '../../assets/styles/variables';

.ant-layout-header {
    background-color: $primary-color;
}

.logo {
    background-image: url(../../assets/images/logo-pizza.png);
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 100%;
    max-width: 100%;
    height: 20vh;
    width: 10vw;
    position: relative;
}